{% extends "base.html" %}
{% block title %}Accountability {% endblock %}

{% block content %}
<section class="container-padding" id="accountability">
    <div class="container-fluid">
        <div class="row lower-section">
            <div class="col-12 back-container">
                <a href="/new-challenge"><button id="back-arrow"><img src="static\images\back red icon.svg"></button></a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row padding new-challenge-title">
            <div class="col-12 d-flex">
                <h1 id="new-challenge-title">Accountability</h1>
            </div>
        </div>
    </div>
</section>

<section class="container-padding" id="accountability">
    <div class="container-fluid">
        <div class="row padding lower-section" id="lower-section-no-top">
            <div class="col-12">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control challenge-field-name-p1" placeholder="Write your punishment here!">

                        <label class="p2" id="new-challenge-field-label">Describe your challenge.</label>
                        <input type="text" class="form-control challenge-field" placeholder="eg. Stay hydrated with the CS club!">
                    </div>
                </form>
            </div> 
        </div>
        <div class="row padding lower-section">
            <div class="col-12">
                <br>
                <h3>Participants</h3>
                <a href="/add-people"><button class="btn-add-ppl"><img class="plus-icon" src="static\images\user icon.svg">App People +<img class="plus-icon" src="static\images\plus icon.svg"></button></a>
            </div>
        </div>
        <div class="row padding lower-section">
            <div class="col-12">
                
                <a href="/challenges/{{data['users']['user1']['challenges']['challenge_1']['challenge_name']}}"><button class="btn-new-challenge" id="btn-launch-challenge">Launch Challenge!</button></a>
            </div>
        </div>
    </div>


</section>

{% endblock%}