{% extends "base.html" %}
{% block title %}Challenges {% endblock %}

{% block content %}
 
<div class="container-fluid">
    <div class="row challenge-title">
        <div class="col-12 d-flex ">
            <h1 id="challenge-title">Drink Water</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex ">
            <h1 id="challenge-title">Drink Water</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex ">
            <h1 id="challenge-title">Drink Water</h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row padding lower-section">
        <div class="col-12 task-panel">
            <div class="card">
                <div class="card-body">
                    Drink Water
                </div>
            </div>
        </div> 
        <div class="col-12 task-panel">
            <div class="card">
                <div class="card-body">
                    Exercise 
                </div>
            </div>
        </div>
        <div class="col-12 task-panel">
            <div class="card">
                <div class="card-body">
                    Smile
                </div>
            </div>
        </div> 
    </div>
</div>
<div class="container-fluid">
    <div class="row padding lower-section">
        <div class="col-12 d-flex">
            <h3>Incentive</h3>
        </div> 
    </div>
    <div class="row padding lower-section">
        <div class="col-12 d-flex">
            <h4 id="incentive-text">Loser has to buy lunch</h4>
        </div> 
    </div>
    <div class="row padding lower-section">
        <div class="col-12 d-flex">
            <h3>Activity</h3>
        </div> 
    </div>
    <div class="row padding lower-section">
        <div class="col-12 d-flex">
            <h4 id="incentive-text">placeholder for image</h4>
        </div> 
    </div>
    <div class="row padding lower-section">
        <div class="col-12 d-flex">
            <h3>Ranking</h3>
        </div> 
    </div>
    <div class="row padding lower-section">
        <div class="col-12 d-flex">
            <h4 id="incentive-text">placeholder for image</h4>
        </div> 
    </div>
</div>


{% endblock%}