{% extends "base.html" %}
{% block title %} New Challenge  {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row padding">
        <div class="col-12 d-flex ">
            <h1 id="new-challenge-title">{{data['users']['user1']['name']}}</h1>
            <form method ="post" enctype="multipart/form-data">
                <input name="title" id="title">
                <input name="fruit" id="fruit">
                <input type = "submit" value = "save">
            </form>
        </div>
    </div>
    <div class="row padding">
        <div class="col-12 d-flex ">
            <h1 id="new-challenge-title">[image]</h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row padding lower-section">
        <div class="col-12 task-panel">
            <form>
                <div class="form-group">
                    <input type="challengeName" class="form-control" placeholder="Add Challenge Name">
                </div>
            </form>
        </div> 
    </div>
    <div class="form-group row padding lower-section">
        <label for="example-date-input" class="col-2 col-form-label">Start Date</label>
        <div class="col-10">
          <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
        </div>
    </div>
    <div class="form-group row padding lower-section">
        <label for="example-date-input" class="col-2 col-form-label">End Date</label>
        <div class="col-10">
          <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row padding lower-section">
        <div class="col-12 d-flex">
            <h3>Incentive</h3>
        </div> 
    </div>
    <div class="row padding lower-section">
        <div class="col-12 d-flex">
            <h4 id="incentive-text">Loser has to buy lunch</h4>
        </div> 
    </div>
    <div class="row padding lower-section">
        <div class="col-12 d-flex">
            <h3>Activity</h3>
        </div> 
    </div>
    <div class="row padding lower-section">
        <div class="col-12 d-flex">
            <h4 id="incentive-text">placeholder for image</h4>
        </div> 
    </div>
    <div class="row padding lower-section">
        <div class="col-12 d-flex">
            <h3>Ranking</h3>
        </div> 
    </div>
    <div class="row padding lower-section">
        <div class="col-12 d-flex">
            <h4 id="incentive-text">placeholder for image</h4>
        </div> 
    </div>
</div>


{% endblock%}