{% extends "base.html" %}
{% block title %} New Challenge  {% endblock %}

{% block content %}
<!--
<div class="row padding">
    <div class="col-12 d-flex ">
        <h1 id="new-challenge-title">{{data['users']['user1']['name']}}</h1>
        <form method ="post" enctype="multipart/form-data">
            <input name="title" id="title">
            <input name="fruit" id="fruit">
            <input type = "submit" value = "save">
        </form>
    </div>
</div>-->

 
<section class="container-padding" id="new-challenge">
    <div class="container-fluid">
        <div class="row lower-section">
            <div class="col-12 back-container">
                <a href="/"><button id="back-arrow"><img src="static\images\back red icon.svg"></button></a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row padding new-challenge-title">
            <div class="col-12 d-flex">
                <h1 id="new-challenge-title">Create new challenge</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <svg width="100%" height="160">
            <rect width="100%" height="160" style="fill:rgb(228, 227, 227);stroke-width:0;stroke:rgb(0,0,0)" />
          </svg>
        <!--<img class="new-challenge-image" src="..\static\images\challenge2.jpg" alt="NOO">-->
    </div>

</section>

<section class="container-padding" id="new-challenge">
    <div class="container-fluid">
        <div class="row padding lower-section"  id="lower-section-no-top">
            <div class="col-12 task-panel">
                <form method ="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" name = "challenge_name" class="form-control challenge-field-name" placeholder="Challenge Name">
                        
                        <a href="/"><button type="submit" value = "save" class="btn-new-challenge" id="btn-next-page"><img src="static\images\arrow white icon.svg"></button></a>
                        
                        <label class="p2" id="new-challenge-field-label">Describe your challenge.</label>
                        <input type="text" class="form-control challenge-field" placeholder="eg. Stay hydrated with the CS club!">

                        <label class="p2" id="new-challenge-field-label">What is the task </label>
                        <input type="text" class="form-control challenge-field" placeholder="eg. Drink 7 glasses of water a day.">

                        <div class="row lower-section">
                            <label class="p2 col-5 mr-4" id="new-challenge-date-label">Start Date</label>
                            <label class="p2 col-5 ml-4" id="new-challenge-date-label">End Date</label>
                        </div>

                        <div class="row lower-section">
                            <input class="form-control challenge-field col-5 mr-4" type="date" value="2020-01-01" id="start-date-input">
                            <input class="form-control challenge-field col-5 ml-4" type="date" value="2020-01-01" id="end-date-input">
                        </div> 
                        
                        <div class="row lower-section">
                            <input type="text" class="form-control challenge-field col-2" placeholder="1" id="new-challenge-count">
                            <label class="p2 col-8" id="new-challenge-field-count-label"> Time(s) per day </label>
                        </div>

                        <div class="row lower-section">
                            <label class="p1 switch-label" id="new-challenge-field-label">Repeat Every Day</label>
                            <div class="swith-container">
                                
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>

                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary">
                                <input type="checkbox" name="options" id="option2" autocomplete="off"> S
                              </label>
                            <label class="btn btn-secondary">
                                <input type="checkbox" name="options" id="option2" autocomplete="off"> M
                            </label>
                            <label class="btn btn-secondary">
                                <input type="checkbox" name="options" id="option3" autocomplete="off"> T
                            </label>
                            <label class="btn btn-secondary">
                                <input type="checkbox" name="options" id="option3" autocomplete="off"> W
                            </label>
                            <label class="btn btn-secondary">
                                <input type="checkbox" name="options" id="option3" autocomplete="off"> T
                            </label>
                            <label class="btn btn-secondary">
                                <input type="checkbox" name="options" id="option3" autocomplete="off"> F
                            </label>
                            <label class="btn btn-secondary">
                                <input type="checkbox" name="options" id="option3" autocomplete="off"> S
                            </label>
                          </div>
                        
                        
                        
                        
                    </div>
                </form>
            </div> 
        </div>
    </div>
    <div class="container-fluid">
    
    </div>

</section>



{% endblock%}