{% extends "base2.html" %}
{% block title %} Home {% endblock %}

{% block content %}


<section id="home">
    <div class="home-container">
        <img class="img-logo" src="static\images\logo.svg">
        <img class="img-home" src="static\images\welcome graphic.svg">

    </div>

    <div class="row padding lower-section" id="home-btn">
        <div class="col-12">
            <a href="/onboarding"><button class="btn-new-challenge" id="btn-launch-challenge">Stay accountable!</button></a>
        </div>
    </div>

</section>

{% endblock %}