{% extends "base.html" %}
{% block title %}Dashboard {% endblock %}

{% block content %}

<section class="container-padding" id="main" >

<a href="/new-challenge"><button class="btn-new-challenge">New Challenge <img class="plus-icon" src="static\images\plus icon.svg"></button></a>

<div class="container-fluid">
    <div class="row padding">
        <div class="col-12 d-flex">
            <h1 id="main-title">Hi {{data['users']['user1']['name']}}!</h1>
        </div>
        <div class="col-12 d-flex justify-content-center wheel">
            <img src="static\images\visualization graphic 3.svg" alt="First slide"> 
            <div class="percent-container">
                <h2 id="percent">76%</h2>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <h3 id="subtitle">Almost done for today - Keep going!</h3>
        </div>    
    </div>
</div>

<div class="container-fluid component-padding" id="dash-todo">
    <div class="row padding lower-section">
        <div class="col-12 d-flex component-title">
            <h3>Upcoming to-do</h3>
        </div> 
    </div>
    <div class="row lower-section">
        <div class="col-12 task-panel">
            <div class="card task-card">
                <div class="card-body task-card-body row">
                    <div class="col-2 dash-task d-flex justify-content-center">
                        <img src="static\images\waterdrop.svg" alt="First slide"> 
                    </div>
                    <div class="col-8 text-left dash-task">
                        <h4 id="dash-task-t">{{data['users']['user1']['challenges']['challenge_1']['task']}}</h4>
                        <p class="p2 text-left" id="dash-task-p">{{data['users']['user1']['challenges']['challenge_1']['task_description']}}</p>
                    </div>
                    <div class="input-group-prepend col-1 dash-task d-flex justify-content-center">
                        <input class="task-check" type="checkbox">
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <div class="row lower-section">
        <div class="col-12 task-panel">
            <div class="card task-card">
                <div class="card-body task-card-body row">
                    <div class="col-2 dash-task d-flex justify-content-center">
                        <img src="static\images\waterdrop.svg" alt="First slide"> 
                    </div>
                    <div class="col-8 text-left dash-task">
                        <h4 id="dash-task-t">{{data['users']['user1']['challenges']['challenge_1']['task']}}</h4>
                        <p class="p2 text-left" id="dash-task-p">{{data['users']['user1']['challenges']['challenge_1']['task_description']}}</p>
                    </div>
                    <div class="input-group-prepend col-1 dash-task d-flex justify-content-center">
                        <input class="task-check" type="checkbox">
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <div class="row lower-section">
        <div class="col-12 task-panel">
            <div class="card task-card">
                <div class="card-body task-card-body row">
                    <div class="col-2 dash-task d-flex justify-content-center">
                        <img src="static\images\waterdrop.svg" alt="First slide">
                    </div>
                    <div class="col-8 text-left dash-task">
                        <h4 id="dash-task-t">{{data['users']['user1']['challenges']['challenge_2']['task']}}</h4>
                        <p class="p2 text-left" id="dash-task-p">{{data['users']['user1']['challenges']['challenge_2']['task_description']}}</p>
                    </div>
                    <div class="input-group-prepend col-1 dash-task d-flex justify-content-center">
                        <input class="task-check" type="checkbox">
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>

<div class="container-fluid component-padding" id="dash-challenge">
    <div class="row padding lower-section">
        <div class="col-12 d-flex component-title">
            <h3>My Challenges</h3>
        </div> 
    </div>
    <div class="row lower-section">
        <div class="col-12">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">

                  
                  <div class="carousel-item active car">
                    <a href="/challenges/{{data['users']['user1']['challenges']['challenge_1']['challenge_name']}}">
                    <img class="d-block w-100 pic" src="static\images\challenge 1 thumbnail.svg" alt="First slide">
                    <div class="car-container">
                        <h3 class="car-text">{{data['users']['user1']['challenges']['challenge_1']['challenge_name']}}</h3>
                    </div></a>
                  </div>
                  
                  
                  <div class="carousel-item car">
                    <a href="/challenges/{{data['users']['user1']['challenges']['challenge_2']['challenge_name']}}">
                    <img class="d-block w-100 pic" src="static\images\challenge 2 thumbnail.svg" alt="First slide">
                    <div class="car-container">
                        <h3 class="car-text">{{data['users']['user1']['challenges']['challenge_2']['challenge_name']}}</h3>
                    </div>
                </a>
                  </div>
                  
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
            </div> 
    </div>
</div>
    
</section>



{% endblock%}