{% extends "base.html" %}
{% block title %}Dashboard {% endblock %}

{% block content %}

<section id="main">
<div class="container-fluid">
    <div class="row padding">
        <div class="col-12 d-flex">
            <h1 id="main-title">Hi Sam!</h1>
        </div>
        <div class="col-12 d-flex justify-content-center wheel">
            <!--<svg width="50%" height="50%" viewBox="0 0 180 180" fill="none" xmlns="http://www.w3.org/2000/svg" id="wheel-img">
            <path d="M90 4C107.009 4 123.636 9.04382 137.779 18.4936C151.922 27.9434 162.945 41.3748 169.454 57.0893C175.963 72.8037 177.666 90.0955 174.348 106.778C171.029 123.46 162.838 138.784 150.811 150.811C138.784 162.839 123.46 171.029 106.778 174.348C90.0953 177.666 72.8036 175.963 57.0891 169.454C41.3747 162.944 27.9433 151.922 18.4935 137.779C9.04375 123.636 3.99997 107.009 4 89.9998" stroke="#074EE8" stroke-width="4"/>
            </svg>-->
            <h2 id="percent">76%</h2>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <h3 id="subtitle">Almost done today - Keep going!</h3>
        </div>    
    </div>
</div>

<div class="container-fluid">
    <div class="row padding lower-section">
        <div class="col-12 d-flex">
            <h3>Today's to-do:</h3>
        </div> 
        <div class="col-12 task-panel">
            <div class="card">
                <div class="card-body">
                    Drink Water
                </div>
            </div>
        </div> 
        <div class="col-12 task-panel">
            <div class="card">
                <div class="card-body">
                    Exercise 
                </div>
            </div>
        </div>
        <div class="col-12 task-panel">
            <div class="card">
                <div class="card-body">
                    Smile
                </div>
            </div>
        </div> 
    </div>
</div>

<div class="container-fluid">
    <div class="row padding lower-section">
        <div class="col-12 d-flex">
            <h3>Current Challenges</h3>
        </div> 
    </div>
    <div class="row padding lower-section">
        <div class="col-6 challenge-panel">
            <div class="card">
                <div class="card-body challenge-card">
                    Challenge 1
                </div>
            </div>
        </div>
        <div class="col-6 challenge-panel">
            <div class="card">
                <div class="card-body challenge-card">
                    Challenge 2
                </div>
            </div>
        </div>
        <div class="col-6 challenge-panel">
            <div class="card">
                <div class="card-body challenge-card">
                    Challenge 3
                </div>
            </div>
        </div>
        
    </div>

</div>
    
</section>



{% endblock%}